.seller-products{
    flex: 15;
}
.products-grid{
    margin: 10px 40px 0px;
    padding: 30px 30px 0px;
    height: 820px;
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24)
}
.userlist{
 align-items: center;
}
.userlistimg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.dashboard-edit{
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.dashboard-edit{
  border:none;
    border-radius: 10px;
    padding: 1px 1px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.dashboard-view{
  border:none;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: #3498DB;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.dashboard-delete{
    color: red;
    cursor: pointer;
}

.head{
 display: flex;
}
.headname{
  float: left;
}
.creat{
  margin-top: 30px;
  margin-left: 100px;
  float: right;
}
.addnewform{
  width: 500px;
  margin-bottom: 20px;
}
.button{
  width: 50%;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  margin-top: 50px;
  background: #F39C12;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: white;
}
.refresh{
  margin-left: 40px;
  border: none;
  background:none;
  cursor: pointer;
}
