.home-background{
    background-color: rgba(236, 236, 236, 0.589);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
   padding: 20px;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 22%;
    margin: 10px;
    padding: 0px 0px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.card_img_img{
    width: 100%;
    object-fit: cover;
}
.card_header{
    padding: 0px 10px 0px;
}
.card_head_title{
    font-size: 13px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card_head_price{
    margin: 0px;
    font-weight: bold;
}